
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
myenv/
# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# MyPy
.mypy_cache/

# Pydantic compiled files
*.pyd

# Env files
.env
.env.*

# Logs
*.log

# SQLite or other local DBs
*.sqlite3
*.db

# Local Docker
*.pid
*.sock

# Mac/Linux/Windows crap
.DS_Store
Thumbs.db
static/
